<template>
    <div class="modal" id="addCommentModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm đánh giá cho địa điểm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Hình ảnh đính kèm (tối đa 5)</label>
                        <multi-image-upload-control :max="maxImage" ref="MultiImageUploadControl"></multi-image-upload-control>
                    </div>

                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Tiêu đề (bắt buộc)"
                               v-model="comment.Title">
                    </div>
                    <div class="form-group">
                        <label>Đánh giá của bạn</label>
                        <textarea type="text"
                                  class="form-control text-area-comment"
                                  v-model="comment.Comment"
                                  placeholder="Đánh giá của bạn (bắt buộc)"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Số sao dành cho địa điểm</label>
                        <star-control :viewOnly="false" ref="StarControl"></star-control>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="add">Thêm đánh giá</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import StarControl from 'components/control/StarControl';
    import MultiImageUploadControl from 'components/control/MultiImageUploadControl';
    import {Helper} from "helper/global_helper";
    import {eventBus} from "main";
    import {EMIT_CONSTANT} from "config/constants";

    export default {
        name: "AddCommentComponent",
        props: ['post_id'],
        components: {
            StarControl,
            MultiImageUploadControl
        },
        data: () => ({
            maxImage: 5,
            comment: null,
        }),
        methods: {
            clearData() {
                this.comment = {
                    Title: "",
                    Comment: "",
                    Rating: 0,
                }
            },
            open() {
                this.clearData();
                $("#addCommentModal").modal('show');
            },
            close() {
                $("#addCommentModal").modal('hide');
            },
            add() {
                this.comment.Rating = this.$refs.StarControl.star;
                this.comment.Gallery = this.$refs.MultiImageUploadControl.files;

                // prepare data
                var postData = new FormData();
                postData.append("Title", this.comment.Title);
                postData.append("Comment", this.comment.Comment);
                postData.append("Rating", this.comment.Rating);
                _.each(this.comment.Gallery, item => {
                    postData.append("Gallery[]", item);
                });

                // ok request
                var self = this;
                RequestService.setController('Comment');
                RequestService.post("PostComment/" + this.post_id, postData, Helper.getUploadAjaxSetting())
                    .done(data => {
                        if (data === null) {
                            SethPhatToaster.server_error();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        SethPhatToaster.success(data.msg);
                        // add data to tab review
                        // eventBus.$emit(EMIT_CONSTANT.ADD_REVIEW, data.data);
                        // self.$parent.post.TotalComment++;
                        self.close();
                    });
            }
        },
        created() {
            this.clearData();
        }
    }
</script>

<style scoped>
    .text-area-comment {
        height: 120px;
    }
</style>