<template>
    <div class="media mt-2">
        <a :href="attachment_img(item.Image)" data-featherlight>
            <img class="mr-3 img-food" :src="attachment_img(item.Image)" :alt="item.Title">
        </a>
        <div class="media-body">
            <h5 class="text-left mt-2">{{item.Title}}</h5>
            {{item.Description}}
        </div>
        <div class="float-right mt-3">
            <p class="price">{{item.Price | currency('VNĐ ', 0)}}</p>
        </div>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "DetailItemComponent",
        props: ['item'],
        methods: {
            attachment_img: Helper.getAttachmentImage,
        }
    }
</script>

<style scoped>
    .img-food {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    h5 {
        font-size: 16px;
        font-weight: bold;
    }
    .media-body {
        font-size: 14px;
    }
    .price {
        color: #206b9b;
        font-size: 16px;
        font-weight: 700;
    }
</style>