<template>
    <div class="row">
        <div class="col-md-4" v-for="attr in attributes">
            <label class="custom-checkbox">
                <span class="ti-check-box"></span>
                <span class="custom-control-description">{{attr}}</span>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        name: "detail-attribute-component",
        props: ['attributes']
    }
</script>

<style scoped>

</style>