<template>
    <div v-if="post !== null">
        <section class="reserve-block" style="padding-top: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>{{post.Title}}</h5>
                        <!--<p><span>$$$</span>$$</p>-->
                        <br v-if="post.ShortDescription !== null" />
                        <p class="reserve-description" v-if="post.ShortDescription !== null">
                            {{post.ShortDescription}}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="reserve-seat-block">
                            <div class="reserve-rating" :class="{'red': post.Overall < 2, 'orange': post.Overall >= 2 && post.Overall < 4}">
                                <span>{{post.Overall}}</span>
                            </div>
                            <div class="review-btn" v-if="$parent.is_logged">
                                <button class="btn btn-outline-danger" @click="$refs.AddCommentComponent.open()">Viết đánh giá</button>
                                <span>{{post.TotalComment}} đánh giá</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--============================= BOOKING DETAILS =============================-->
        <section class="light-bg booking-details_wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 responsive-wrap">
                        <div class="booking-checkbox_wrap" v-show="selected_state === 0">
                            <div class="booking-checkbox" v-html="post.Description"></div>

                            <hr>

                            <detail-attribute-component :attributes="post.Attributes"></detail-attribute-component>
                        </div>

                        <review-component v-show="selected_state === 2" :post="post"></review-component>

                        <div class="booking-checkbox_wrap" v-show="selected_state === 1">
                            <h5>Thực đơn</h5>
                            <hr>

                            <p class="text-center" v-if="post.Items.length <= 0">Chưa có thực đơn nào cả</p>
                            <detail-item-component v-else
                                                   v-for="item in post.Items"
                                                   :key="item.ID"
                                                   :item="item">
                            </detail-item-component>

                        </div>
                    </div>
                    <div class="col-md-4 responsive-wrap">
                        <div class="contact-info">
                            <img :src="default_img" v-if="post.Gallery.length === 0">
                            <carousel-control v-else :images="post.Gallery"></carousel-control>

                            <div class="address">
                                <span class="icon-direction" title="Chuyên mục"></span>
                                <p>{{post.Category.Name}}</p>
                            </div>
                            <div class="address">
                                <span class="icon-location-pin" title="Địa chỉ"></span>
                                <p>{{post.Address}}</p>
                            </div>
                            <div class="address">
                                <span class="icon-credit-card" title="Giá trong khoảng"></span>
                                <p>{{post.MinPrice | currency('VNĐ ', 0)}} - {{post.MaxPrice | currency('VNĐ ', 0)}}</p>
                            </div>
                            <div class="address" v-if="post.Phone !== null">
                                <span class="icon-phone" title="Số điện thoại"></span>
                                <p>{{post.Phone}}</p>
                            </div>
                            <div class="address" v-if="post.Website !== null">
                                <span class="icon-link" title="Website"></span>
                                <p><a :href="post.Website" target="_blank">{{post.Website}}</a></p>
                            </div>
                            <div class="address" v-if="post.PrepareTime !== null">
                                <span class="icon-clock" title="Thời gian chuẩn bị món"></span>
                                <p>{{post.PrepareTime}}</p>
                            </div>
                        </div>
                        <div>
                            <ul class="list-group">
                                <li v-for="(text, index) in states"
                                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                                    :class="{'active': index === selected_state}"
                                    @click="selected_state = index">
                                    {{text}}

                                    <span class="badge badge-warning badge-pill" v-if="index === 1" title="Số món trong thực đơn">{{post.Items.length}}</span>
                                    <span class="badge badge-warning badge-pill" v-if="index === 2" title="Tổng số đánh giá">{{post.TotalComment}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//END BOOKING DETAILS -->

        <add-comment-component :post_id="post.ID" ref="AddCommentComponent"></add-comment-component>
    </div>
</template>

<script>
    import CarouselControl from 'components/control/CarouselControl';
    import DetailAttributeComponent from './DetailAttributeComponent';
    import DetailItemComponent from './DetailItemComponent';
    import ReviewComponent from './ReviewComponent';
    import AddCommentComponent from './AddCommentComponent';
    import {Helper} from "helper/global_helper";

    export default {
        name: "PostDetailPage",
        components: {
            CarouselControl,
            DetailAttributeComponent,
            DetailItemComponent,
            ReviewComponent,
            AddCommentComponent
        },
        data: () => ({
            controller: {
                post: "Post"
            },
            default_img: Helper.getAttachmentImage(),
            post: null,
            selected_state: 0,
            states: ['Tổng quan', 'Thực đơn', 'Đánh giá']
        }),
        created() {
            // load data from server
            var self = this;
            RequestService.setController(this.controller.post);
            RequestService.get("GetBySlug/" + this.$route.params.id) // Get by id => get by slug now
                .done(data => {
                    if (data === null) {
                        SethPhatToaster.server_error();
                        self.$router.push({name: 'home'});
                        return;
                    }

                    if (data.error) {
                        SethPhatToaster.error(data.error);
                        self.$router.push({name: 'home'});
                        return;
                    }

                    self.post = data;
                    setSiteName(data.Title);
                });
        },
        mounted() {
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        }
    }
</script>

<style scoped>

</style>