<template>
    <div class="booking-checkbox_wrap">
        <h5>Đã có {{post.TotalComment}} đánh giá</h5>
        <hr>

        <p class="text-center" v-if="post.TotalComment === 0">Chưa có review nào cả!</p>

        <div class="customer-review_wrap" v-for="item in reviews">
            <div class="customer-img text-center">
                <img :src="profile_image(item.User.ProfileImage)" class="img-fluid avatar" alt="#">
                <p>
                    <router-link :to="{name: 'profile', params: {id: item.User.ID}}">
                        {{item.User.FirstName + ' ' + item.User.LastName.charAt(0)}}
                    </router-link>
                </p>
                <span>Đánh giá <b>{{item.User.TotalReview}}</b> lần</span>
            </div>
            <div class="customer-content-wrap">
                <div class="customer-content">
                    <div class="customer-review">
                        <h6>{{item.Title}}</h6>
                        <p style="margin-left: 0;" :title="item.CreatedDate">Đánh giá vào {{item.CreatedDateString}}</p>
                    </div>
                    <div class="float-right" style="padding: 8px 14px;">
                        <star-control :key="item.ID" :view-only="true" :star-number="item.Rating" :lol="item.Title"></star-control>
                    </div>
                    <!--<div class="customer-rating">8.0</div>-->
                </div>
                <p class="customer-text" v-html="item.Comment"></p>

                <ul v-if="item.Gallery.length > 0">
                    <li v-for="img in item.Gallery" class="mt-1">
                        <a :href="attachtment_img(img)" data-featherlight>
                            <img :src="attachtment_img(img)" class="img-fluid img-attachment"
                                 :alt="'Hình đăng bởi ' + item.User.FirstName + ' ' + item.User.LastName">
                        </a>
                    </li>
                </ul>
                <!--<span>28 people marked this review as helpful</span>-->
                <!--<a href="#"><span class="icon-like"></span>Helpful</a>-->
            </div>

            <div class="clearfix"></div>
            <hr />
        </div>

        <div class="text-center" v-if="!is_end">
            <button class="btn btn-primary" @click="load_more">Xem thêm các đánh giá cũ</button>
        </div>
    </div>
</template>

<script>
    import {SiteConfig} from "config/config";
    import {Helper} from "helper/global_helper";
    import StarControl from 'components/control/StarControl';
    import {eventBus} from "main";
    import {EMIT_CONSTANT} from "config/constants";

    export default {
        name: "ReviewComponent",
        components: {
            StarControl
        },
        props: ['post'],
        data: () => ({
            controller: {
                comment: "Comment"
            },
            start: 0,
            limit: SiteConfig.get_review_limit,
            reviews: [],
            is_end: false,
        }),
        methods: {
            profile_image: Helper.getUserImage,
            attachtment_img: Helper.getAttachmentImage,
            load_comment() {
                // load comment here
                var self = this;
                RequestService.setController(this.controller.comment);
                RequestService.get("GetComment/" + this.post.ID, {limit: this.limit, start: this.start})
                    .done(data => {
                        if (data === null) {
                            SethPhatToaster.server_error();
                            self.reload_comment();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            self.$router.push({name: "home"});
                            return;
                        }

                        _.each(data, item => {
                            self.reviews.push(item);
                        });

                        // check if end comment
                        if (data.length < self.limit) {
                            self.is_end = true;
                        }
                    });
            },
            reload_comment() {
                setTimeout(this.load_comment, 5000);
            },
            load_more() {
                this.start += this.limit;
                this.load_comment();
            }
        },
        created() {
            this.load_comment();
            eventBus.$on(EMIT_CONSTANT.ADD_REVIEW, data => {
                this.reviews.unshift(data);
            });
        }
    }
</script>

<style scoped>
    .avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .img-attachment {
        width: 120px;
        height: 85px;
        object-fit: cover;
    }

    .customer-review_wrap a {
        border: 0;
        padding: 0;
        margin: 0;
        padding-right: 10px;
    }
</style>