<template>
    <div class="modal" id="createGroupModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tạo nhóm mới</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-bordered table-striped table-hover" v-if="groupInfo != null">
                        <tr>
                            <td width="30%">Tên nhóm</td>
                            <td>
                                <input type="text" class="form-control" v-model="groupInfo.Name">
                            </td>
                        </tr>
                        <tr>
                            <td>Giới thiệu/Nội dung nhóm</td>
                            <td>
                                <input type="text" class="form-control" v-model="groupInfo.Description">
                            </td>
                        </tr>
                        <tr>
                            <td>Hình đại diện</td>
                            <td class="text-center">
                                <img class="img-fluid img-group rounded-circle clickable"
                                     data-toggle="tooltip"
                                     title="Nhấn vào để thay đổi hình ảnh"
                                     @click="chooseImage"
                                     :src="getImgSource()" />

                                <input type="file" style="display: none" id="fileGroupImage" @change="choosedImage">
                            </td>
                        </tr>
                        <tr>
                            <td>Thành viên trong nhóm</td>
                            <td>
                                <select2-multiple-control v-model="groupInfo.Members"
                                                          :options="members"
                                                          :settings="select2Settings">
                                </select2-multiple-control>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="createGroup">Khởi tạo</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    import Select2MultipleControl from 'components/control/Select2MultipleControl';
    import {SiteConfig} from "config/config";
    import {Helper} from "helper/global_helper";

    function formatSelect2HTML(state) {
        if (!state.id) {
            return null;
        }

        var $state = $(`
            <div class="media">
                <img class="mr-3 rounded-circle" src="${Helper.getUserImage(state.profile_image)}" style="width: 40px; height: 40px; object-fit: cover;">
                <div class="media-body">
                    <h6 class="mt-0">${state.element.text}</h6>
                </div>
            </div>
        `);
        return $state;
    }

    export default {
        name: "CreateGroupComponent",
        components: {
            Select2MultipleControl,
        },
        data: () => ({
            groupInfo: null,
            members: [],
            select2Settings: {
                templateResult: formatSelect2HTML,
                tags: true,
            }
        }),
        methods: {
            clearInfo() {
                this.groupInfo = {
                    Name: "",
                    Description: "",
                    Members: [],
                    GroupImage: null,
                };
            },
            openModal() {
                this.clearInfo();
                $("#createGroupModal").modal('show');
            },
            closeModal() {
                $("#createGroupModal").modal('hide');
            },
            getImgSource() {
                if (this.groupInfo.GroupImage == null) {
                    return SiteConfig.resource_url + "/images/default-group.png";
                }

                return URL.createObjectURL(this.groupInfo.GroupImage);
            },
            chooseImage() {
                $("#fileGroupImage").val(null).click();
            },
            choosedImage(e) {
                var file = e.target.files[0];
                if (!Helper.isImage(file)) {
                    SethPhatToaster.error("Không hỗ trợ file này!");
                    return;
                }

                this.groupInfo.GroupImage = file;
            },
            createGroup() {
                var postData = new FormData();
                _.each(this.groupInfo, (value, key) => {
                    if (value === null || key === "Members") {
                        return;
                    }
                    postData.append(key, value);
                });

                // populate for members lol
                _.each(this.groupInfo.Members, value => {
                    postData.append("Members[]", value);
                });

                var self = this;
                RequestService.setController("Group");
                RequestService.post("CreateGroup", postData, Helper.getUploadAjaxSetting())
                    .done(data => {
                        if (_.isEmpty(data)) {
                            SethPhatToaster.error("Lỗi khi gửi thông tin, xin hãy thử lại sau!");
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        // create group ok
                        SethPhatToaster.success(data.success);
                        self.closeModal();
                        self.$parent.getGroup(); // retrieve new group again :D
                    })
                    .fail(err => {
                        SethPhatToaster.error("Có lỗi trong quá trình khởi tạo, xin hãy thử lại sau");
                    });
            },
            getMember() {
                var self = this;
                RequestService.setController("User");
                RequestService.get("GetMembers")
                    .done(data => {
                         self.members = data;

                         setTimeout(() => {
                             self.stylingSelect2();
                         }, 500);
                    });
            },
            stylingSelect2() {
                $(".select2-container").css('width', '100%');
            }
        },
        created() {
            this.clearInfo();
            this.getMember();
        },
        mounted() {
            this.stylingSelect2();
            $("[data-toggle='tooltip']").tooltip();
        }
    }
</script>

<style scoped>
    .img-group {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 1px solid #ccc;
    }

    .img-avatar {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 1px solid #ccc;
    }
</style>