<template>
    <div class="col-md-12 responsive-wrap clickable group-info mt-2" @click="goToGroupInfo">
        <div class="media">
            <img class="mr-3 rounded-circle img-group" :src="getGroupImg(group.GroupImage)">
            <div class="media-body mt-3">
                <h6 class="mt-0" v-text="group.Name"></h6>
                {{group.Description}}<br>
                Số lượng thành viên: {{group.TotalMember}} người
            </div>
        </div>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "GroupItemComponent",
        props: ['group'],
        methods: {
            getGroupImg: Helper.getGroupImage,
            goToGroupInfo() {
                this.$router.push({name: "groupinfo", params: {id: this.group.ID}});
            }
        }
    }
</script>

<style scoped>
    .img-group {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 1px #ccc solid;
    }

    .group-info {
        border: 1px #ccc solid;
        padding: 10px;
        user-select: none;
    }

    .group-info:hover {
        background-color: #ecf0f1;
    }

    .group-info:active {
        background-color: #95a5a6;
    }
</style>