<template>
    <div class="container" style="margin-top:80px; margin-bottom: 20px" v-if="groupInfo != null">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-8">
                <h4>{{groupInfo.Name}}</h4>
                <p>{{groupInfo.Description}}</p>
            </div>
            <div class="col-md-4 text-right">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                        Thao tác
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item clickable" @click="createNew">Tạo bình chọn địa điểm mới</li>
                        <li class="dropdown-divider" v-if="groupInfo.IsAdmin" v-show="false"></li>
                        <li class="dropdown-item clickable" v-if="groupInfo.IsAdmin" v-show="false">Sửa nhóm</li>
                        <li class="dropdown-item clickable" v-if="groupInfo.IsAdmin" v-show="false">Xóa nhóm</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#groupMemberTab">Thành viên trong nhóm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#voteTab">Bình chọn địa điểm gần đây</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container active" id="groupMemberTab">
                <div class="row mt-2">
                    <user-group-info v-for="member in groupInfo.Members"
                                     :key="member.ID"
                                     :user="member">
                    </user-group-info>
                </div>
            </div>
            <div class="tab-pane container fade" id="voteTab">
                <table class="table table-bordered table-striped table-hover mt-2">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Địa điểm nhiều vote</th>
                            <th>Thời gian kết thúc</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="vote in groupInfo.Votes">
                            <td>{{vote.Title}}</td>
                            <td>
                                <a :href="'/#/Food-Detail/' + vote.PopularItem.Slug" target="_blank">
                                    {{vote.PopularItem.Title}}
                                </a>
                            </td>
                            <td>{{vote.CreatedDate + " " + vote.EndTime}}</td>
                            <td>
                                <a :href="'/#/VoteInfo/' + vote.ID" target="_blank">
                                    Xem chi tiết
                                </a>
                            </td>
                        </tr>
                        <tr v-if="groupInfo.Votes.length <= 0">
                            <td colspan="4">Chưa có bình chọn địa điểm nào trong nhóm cả :D!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <create-vote-component ref="CreateVoteComponent"></create-vote-component>
    </div>
</template>

<script>
    import {LoggedUserInfo} from "helper/logged_user_info";
    import UserGroupInfo from "./UserGroupInfo";
    import CreateVoteComponent from "./CreateVoteComponent";

    export default {
        name: "GroupInfoPage",
        components: {CreateVoteComponent, UserGroupInfo},
        data: () => ({
            groupInfo: null,
        }),
        methods: {
            getGroup() {
                var self = this;
                RequestService.setController("Group");
                RequestService.get("GetByID/" + this.$route.params.id)
                    .done(data => {
                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            self.$router.go(-1);
                            return;
                        }

                        self.groupInfo = data;
                    })
                    .fail(err => {
                        SethPhatToaster.error("Lỗi khi truy xuất thông tin, xin hãy thử lại sau");
                        self.$router.go(-1);
                    });
            },
            createNew() {
                this.$refs.CreateVoteComponent.openModal();
            }
        },
        created() {
            if(!LoggedUserInfo.isLoggedIn()) {
                SethPhatToaster.error("Bạn phải đăng nhập mới vào được trang này");
                this.$router.push("/");
                return;
            }

            this.getGroup();
        },
        mounted() {
            $("[data-toggle='tooltip']").tooltip();
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
    }
</script>

<style scoped>

</style>