<template>
    <div class="container" style="margin-top:80px; margin-bottom: 20px">
        <div class="row" style="padding-top: 20px">
            <div class="col-md-8">
                <h4>Nhóm ăn/uống của bạn</h4>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-outline-dark" @click="openNewGroup">
                    <span class="ti-plus"></span> Tạo nhóm mới
                </button>
            </div>
        </div>

        <div class="row mt-2">
            <group-item-component v-for="group in groups"
                                  :key="group.ID"
                                  :group="group">
            </group-item-component>

            <div class="col-md-12" v-if="groups.length === 0">
                <p class="text-center">Chưa có nhóm nào cả, bạn có thể tạo nhóm mới :D</p>
            </div>
        </div>

        <create-group-component ref="CreateGroupComponent"></create-group-component>
    </div>
</template>

<script>
    import {LoggedUserInfo} from "helper/logged_user_info";
    import CreateGroupComponent from "./CreateGroupComponent";
    import GroupItemComponent from "./GroupItemComponent";

    export default {
        name: "MyGroupPage",
        components: {
            CreateGroupComponent,
            GroupItemComponent
        },
        data: () => ({
            groups: [],
        }),
        methods: {
            getGroup() {
                var self = this;
                RequestService.setController("Group");
                RequestService.get("GetUserGroup")
                    .done(data => {
                        self.groups = data;
                    })
                    .fail(err => {
                        SethPhatToaster.error("Bạn không có quyền truy cập vào trang này");
                        self.$router.push("/");
                    });
            },
            openNewGroup() {
                this.$refs.CreateGroupComponent.openModal();
            }
        },
        created() {
            if (!LoggedUserInfo.isLoggedIn()) {
                SethPhatToaster.error("Bạn không có quyền truy cập vào trang này");
                this.$router.push("/");
            }

            this.getGroup();
        },
        mounted() {
            $("[data-toggle='tooltip']").tooltip();
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
    }
</script>

<style scoped>

</style>