<template>
    <div class="col-md-6 responsive-wrap clickable group-info mt-2 " @click="goToUserPage">
        <div class="media">
            <img class="mr-3 rounded-circle img-group" :src="getUserImg(user.ProfileImage)">
            <div class="media-body mt-3">
                <h6 class="mt-0" v-text="user.FullName"></h6>
            </div>
        </div>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "UserGroupInfo",
        props: ['user'],
        methods: {
            getUserImg: Helper.getUserImage,
            goToUserPage() {
                this.$router.push({
                    name: "profile",
                    params: {
                        id: this.user.ID
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .img-group {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 1px #ccc solid;
    }

    .group-info {
        border: 1px #ccc solid;
        padding: 10px;
        user-select: none;
    }

    .group-info:hover {
        background-color: #ecf0f1;
    }

    .group-info:active {
        background-color: #95a5a6;
    }
</style>