<template>
    <div id="app">
        <!--============================= HEADER =============================-->
        <div class="nav-menu">
            <div class="bg transition">
                <div class="container-fluid fixed">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <router-link class="navbar-brand" active-class="active" to="/">{{site_name}}</router-link>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-menu"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="#" id="navbarDropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Chuyên mục
                                                <span class="icon-arrow-down"></span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <router-link href="javascript:void(0);" class="dropdown-item"
                                                             v-for="cate in $store.state.categories"
                                                             :key="cate.ID"
                                                             :to="{name: 'category', params: {id: cate.Slug}}">
                                                    {{cate.Name}}
                                                    <span class="badge badge-pill  badge-light">{{cate.TotalPost}}</span>
                                                </router-link>
                                            </div>
                                        </li>
                                        <li class="nav-item active">
                                            <router-link class="nav-link" href="javascript:void(0)" :to="{name: 'about'}">Về Chúng Tôi</router-link>
                                        </li>

                                        <li class="nav-item active" v-if="is_logged === false">
                                            <a class="nav-link" href="javascript:void(0)" @click="auth_open">Đăng nhập/Đăng ký</a>
                                        </li>
                                        <li class="nav-item dropdown active" v-else>
                                            <a class="nav-link" href="#" id="navbarUserInfo"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Xin chào, {{user_info.first_name}} {{user_info.last_name}}!
                                                <span class="icon-arrow-down"></span>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarUserInfo">
                                                <router-link class="dropdown-item" :to="{name: 'mygroup'}">
                                                    Nhóm của tôi
                                                </router-link>
                                                <router-link class="dropdown-item" :to="{name: 'profile', params: {id: user_info.user_id}}">
                                                    Trang cá nhân
                                                </router-link>
                                                <router-link class="dropdown-item" :to="{name: 'setting'}">
                                                    Thay đổi tài khoản
                                                </router-link>
                                                <a class="dropdown-item" href="javascript:void(0)" @click="logout">Đăng xuất</a>
                                            </div>
                                        </li>
                                        <li v-if="is_logged === true">
                                            <router-link class="btn btn-outline-light top-btn" :to="{name: 'add'}">
                                                <span class="ti-plus"></span> Thêm địa điểm
                                            </router-link>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--============================= BODY =============================-->
        <router-view :key="$route.fullPath"></router-view>

        <!--============================= FOOTER =============================-->
        <footer class="main-block dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright &copy; 2018 by Seth Phat.</p>
                            <ul>
                                <li v-if="social_network.facebook_url !== ''">
                                    <a :href="social_network.facebook_url" target="_blank"><span class="ti-facebook"></span></a>
                                </li>
                                <li v-if="social_network.twitter_url !== ''">
                                    <a :href="social_network.twitter_url" target="_blank"><span class="ti-twitter-alt"></span></a>
                                </li>
                                <li v-if="social_network.instagram_url !== ''">
                                    <a :href="social_network.instagram_url" target="_blank"><span class="ti-instagram"></span></a>
                                </li>
                                <li v-if="social_network.website_url !== ''">
                                    <a :href="social_network.website_url" target="_blank"><span class="ti-wordpress"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--//END FOOTER -->

        <auth-control ref="AuthControl"></auth-control>

        <div class="modal fade" id="myModal" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {SiteConfig} from "./config/config";
    import AuthControl from "./components/control/AuthControl";
    import PostControl from "./components/control/PostControl";
    import {LoggedUserInfo} from "./helper/logged_user_info";
    import {RequestService} from "./helper/request_service";

    export default {
        name: 'app',
        components: {
            'auth-control': AuthControl,
            PostControl
        },
        data() {
            return {
                site_name: SiteConfig.app_name,
                is_logged: false,
                user_info: null,
                social_network: SiteConfig.social_network,
            }
        },
        methods: {
            auth_open() {
                this.$refs.AuthControl.open();
            },
            logout() {
                LoggedUserInfo.logout();
                this.is_logged = false;
                this.user_info = null;
                this.$router.push("/"); // back to front page
            },
            not_code_yet() {
                SethPhatToaster.error("Chức năng này em chưa code hihi");
            },
            recheck_auth() {
                var self = this;
                RequestService.setController("Authentication");
                RequestService.get("RecheckAuth")
                    .done(data => {
                        if (data === null || data.error) {
                            LoggedUserInfo.logout();
                            return;
                        }

                        // ok logged in still
                        self.is_logged = true;
                        self.user_info = LoggedUserInfo.getInfo();
                    });
            }
        },
        created() {
            this.$on('LoggedIn', userData => {
                this.is_logged = true;
                this.user_info = userData;
                this.$refs.AuthControl.close();
                window.location.href = window.location.href;
            });

            // check login info
            if(LoggedUserInfo.isLoggedIn()) {
                this.recheck_auth();
            }

            // retrieve page data
            var self = this;
            RequestService.setController("Home");
            RequestService.get("HomeData")
                .done(data => {
                    if (data === null) {
                        return;
                    }

                    self.$store.dispatch('setCategory', data.categories);
                    self.$store.dispatch('setFeaturePost', data.feature_posts);
                    self.$store.dispatch('setAttribute', data.attributes);
                });
        },
        mounted() {
            $(".nav-menu").css('z-index', 10);
            $(window).scroll(function () {
                // 100 = The point you would like to fade the nav in.
                if ($(window).scrollTop() > 100) {
                    $('.fixed').addClass('is-sticky');
                } else {
                    $('.fixed').removeClass('is-sticky');
                };
            });
        }
    }
</script>

<style scoped>
    .active:active {
        color:white;
    }
    .active:hover{
        color:white;
    }
</style>
