<template>
    <div class="modal" id="authModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Truy cập vào hệ thống</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">Đăng ký</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">Quên mật khẩu</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container active tab-login" id="home">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="login.Email" @keyup.enter="doLogin">
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input type="password" class="form-control" v-model="login.Password" @keyup.enter="doLogin">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" @click="doLogin">Đăng nhập</button>
                            </div>
                        </div>
                        <div class="tab-pane container fade tab-login" id="menu1">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="register.Email">
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input type="password" class="form-control" v-model="register.Password">
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" v-model="register.RetypePassword">
                            </div>
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" v-model="register.FirstName">
                            </div>
                            <div class="form-group">
                                <label>Họ</label>
                                <input type="text" class="form-control" v-model="register.LastName">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" @click="doRegister">Đăng ký</button>
                            </div>
                        </div>
                        <div class="tab-pane container fade tab-login" id="menu2">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" v-model="forgot.Email">
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" @click="doForgot">Quên mật khẩu</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {LoggedUserInfo} from "helper/logged_user_info";

    export default {
        name: "auth-control",
        data: () => ({
            controllers: {
                auth: "Authentication"
            },
            login: null,
            register: null,
            forgot: null
        }),
        methods: {
            newData() {
                this.login = {
                    Email: "",
                    Password: "",
                };
                this.register = {
                    Email: "",
                    Password: "",
                    RetypePassword: "",
                    FirstName: "",
                    LastName: ""
                };
                this.forgot = {
                    Email: "",
                }
            },
            open() {
                // clear value
                this.newData();
                // show modal
                $("#authModal").modal('show');
            },
            close() {
                $("#authModal").modal('hide');
            },
            doLogin() {
                var self = this;
                RequestService.setController(this.controllers.auth);
                RequestService.post("Login", this.login)
                    .then(data => {
                         if (data === null) {
                             SethPhatToaster.error();
                             return;
                         }

                         if (data.error) {
                             SethPhatToaster.error(data.error);
                             return;
                         }

                         // logged, save data :(
                        SethPhatToaster.success(data.msg);

                         // set data
                        LoggedUserInfo.setInfo(data.data);
                        self.$parent.$emit('LoggedIn', data.data);
                    });
            },
            doRegister() {
                var self = this;
                RequestService.setController(this.controllers.auth);
                RequestService.post("Register", this.register)
                    .then(data => {
                        if (data === null) {
                            SethPhatToaster.error();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        SethPhatToaster.success(data.msg);
                        self.newData();
                    });
            },
            doForgot() {
                var self = this;
                RequestService.setController(this.controllers.auth);
                RequestService.post("Forgot", this.forgot)
                    .then(data => {
                        if (data === null) {
                            SethPhatToaster.error();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        SethPhatToaster.success(data.msg);
                        self.newData();
                    });
            }
        },
        created() {
            this.newData();
        }
    }
</script>

<style scoped>
    .tab-login {
        padding: 10px;
    }
</style>
