<template>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo"
                v-for="(img, index) in images"
                :data-slide-to="index" :class="{'active': index === 0}"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item" v-for="(img, index) in images" :class="{'active': index === 0}">
                <a :href="attach_img(img)" data-featherlight>
                    <img :src="attach_img(img)">
                </a>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "carousel-control",
        props: ['images'],
        methods: {
            attach_img: Helper.getAttachmentImage,
        }
    }
</script>

<style scoped>

</style>