<template>
    <div class="img-list row" style="margin-left: 0;">
        <div class="img-add" v-for="(img, index) in files">
            <div class="close clickable" @click="removeImage(index)">&times;</div>
            <img :src="showImage(img)">
        </div>
        <div class="img-add clickable" v-if="files.length < max" @click="selectImg">
            <i class="icon-plus"></i>
        </div>

        <input type="file" :id="file_control_id" @change="selectedImage" accept="image/*" style="display: none;">
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "MultiImageUploadControl",
        props: ['maxImage', 'images'],
        data: () => ({
            files: [],
            max: 0,
            file_control_id: _.uniqueId("fileUpload_")
        }),
        methods: {
            showImage(img) {
                if (img instanceof File) {
                    return URL.createObjectURL(img);
                } else {
                    return Helper.getAttachmentImage(img);
                }
            },
            selectImg() {
                $("#" + this.file_control_id).click();
            },
            selectedImage() {
                var file = event.target.files[0];

                if (file.type.indexOf("image") < 0)
                {
                    SethPhatToaster.error("Không hỗ trợ upload file này.");
                    return;
                }

                this.files.push(file);
            },
            removeImage(index) {
                this.files.splice(index, 1);
            }
        },
        created() {
            if (_.isUndefined(this.maxImage)) {
                this.max = 5;
            } else {
                this.max = this.maxImage;
            }

            if (!_.isUndefined(this.images)) {
                this.files = this.images;
            }
        },
    }
</script>

<style scoped>
    .img-add
    {
        margin-right: 5px;
        margin-bottom: 5px;
        width: 120px;
        height: 120px;
        border: 2px #000000 dashed;
        position: relative;
    }

    .img-add .close
    {
        position: absolute;
        top: 2px;
        right: 2px;
        opacity: 40%;
    }

    .img-add img
    {
        width: 115px;
        height: 115px;
        object-fit: cover;
    }


    .img-add .close:hover
    {
        opacity: 100%;
    }

    .img-add i
    {
        font-size: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .img-list
    {
        margin: 0 10px 10px 10px;
    }
</style>