<template>
    <div class="featured-responsive" :class="specialClass">
        <div class="featured-place-wrap">
            <router-link :to="{name: 'food-detail', params: {id: post.Slug}}">
                <img :src="getImage(post.Gallery[0])" class="image-post-size" :alt="post.Title">
                <span :class="ratingClass(post.Overall)">{{post.Overall}}</span>
                <div class="featured-title-box">
                    <h6>{{post.Title}}</h6>
                    <p>{{post.CategoryName}} </p> <span>• </span>
                    <p>{{post.TotalComment}} đánh giá</p>
                    <!--<p><span>$$$</span>$$</p>-->
                    <ul>
                        <li title="Địa chỉ"><span class="icon-location-pin"></span>
                            <p>{{post.Address}}</p>
                        </li>
                        <li title="Điện thoại"><span class="icon-screen-smartphone"></span>
                            <p>{{post.Phone == null ? 'Không có' : post.Phone}}</p>
                        </li>
                        <li title="Website"><span class="icon-link"></span>
                            <p>{{post.Website == null ? 'Không có' : post.Website}}</p>
                        </li>
                    </ul>
                    <div class="bottom-icons">
                        <!--<div class="closed-now">CLOSED NOW</div>-->
                        <!--<span class="ti-heart"></span>-->
                        <!--<span class="ti-bookmark"></span>-->
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "post-control",
        props: ['post', 'special-class'],
        data: () => ({

        }),
        methods: {
            getImage: Helper.getAttachmentImage,
            ratingClass: Helper.ratingToClass
        }
    }
</script>

<style scoped>
    .image-post-size {
        height: 350px;
        object-fit: cover;
    }
</style>
