<template>
    <div class="star-review" :title="'Đã được đánh giá ' + star + ' sao!'">
        <span v-for="num in num_stars"
              :class="{'clickable': !viewOnly, 'round-icon-blank': star < num, 'round-icon-red': is_red_star(num), 'round-icon-orange': is_warning_star(num)}"
              @click="set_star(num)">
        </span>
    </div>
</template>

<script>
    export default {
        name: "StarControl",
        props: ['viewOnly', 'starNumber', 'lol'],
        data: () => ({
            star: 0,
            num_stars: [1,2,3,4,5]
        }),
        methods: {
            set_star(num) {
                if (this.viewOnly) {
                    return;
                }
                this.star = num;
            },
            is_red_star(num) {
                if (this.star < 2 && this.star >= num) {
                    return true;
                }
                return false;
            },
            is_warning_star(num) {
                if (this.star >= 2 && this.star < 4 && this.star >= num) {
                    return true;
                }
                return false;
            }
        },
        created() {
            if (!_.isUndefined(this.starNumber)) {
                this.star = this.starNumber;
            } else {
                this.star = 5;
            }
        },
    }
</script>

<style scoped>
    .clickable {
        cursor: pointer;
    }
</style>