<template>
    <div class="modal" id="editVoteModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Sửa bình chọn hiện tại</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" v-if="voteInfo != null">
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control" v-model="voteInfo.Title" disabled>
                    </div>
                    <div class="form-group">
                        <label>Thời gian kết thúc (trong hôm nay)</label>
                        <date-picker :config="timePickerOptions" v-model="voteInfo.EndTime" disabled></date-picker>
                    </div>

                    <label>Các địa điểm sẽ bình chọn</label>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-outline-primary" @click="addPlace">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </th>
                                <th>Địa điểm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(place, index) in voteInfo.Items" :key="index">
                                <td width="10%">
                                    <button class="btn btn-outline-danger" @click="removePlace(index)">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </td>
                                <td>
                                    <select2 v-model="place.Slug"
                                             :options="posts"
                                             :settings="select2Settings"
                                             ref="Select2s">
                                    </select2>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="editVote">Sửa bình chọn</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import datePicker from 'vue-bootstrap-datetimepicker';
    import Select2 from 'v-select2-component';
    import {Helper} from "helper/global_helper";

    // html render for select 2
    function formatSelect2HTML(state) {
        if (!state.id) {
            return null;
        }

        var $state = $(`
            <div class="media">
                <img class="mr-3 rounded-circle" src="${Helper.getAttachmentImage(state.element.image)}" style="width: 40px; height: 40px; object-fit: cover;">
                <div class="media-body">
                    <h6 class="mt-0">${state.element.text}</h6>
                    ${state.address}
                </div>
            </div>
        `);
        return $state;
    }

    export default {
        name: "EditVoteComponent",
        components: {
            datePicker,
            Select2
        },
        data: () => ({
            voteInfo: null,
            modal: null,
            timePickerOptions: {
                format: "HH:mm",
                useCurrent: true
            },
            posts: [],
            select2Settings: {
                templateResult: formatSelect2HTML,
            }
        }),
        methods: {
            setData(data) {
                this.voteInfo = JSON.parse(JSON.stringify(data));
                _.each(this.voteInfo.Items, item => {
                    item.Slug = _.clone(item.Post.Slug);
                });
            },
            openModal() {
                this.stylingSelect2();
                this.hookSelect2();
                this.modal.modal('show');
            },
            closeModal() {
                this.modal.modal('hide');
            },
            getPosts() {
                var self = this;
                RequestService.setController("Post");
                RequestService.get("GetOptions/slug")
                    .done(data => {
                         self.posts = data;
                    });
            },
            addPlace() {
                this.voteInfo.Items.push({Slug: ""});
                this.stylingSelect2();
                this.hookSelect2();
            },
            removePlace(index) {
                this.voteInfo.Items.splice(index, 1);
            },
            stylingSelect2() {
                setTimeout(() => {
                    $(".select2-container").css('width', '100%');
                }, 200);
            },
            hookSelect2() {
                // set special hook
                var self = this;
                setTimeout(() => {
                    var last_select = _.last(self.$refs.Select2s);
                    last_select.select2.on('select2:selecting', e => {
                        const { id } = e['params']['args']['data'];
                        if (_.isEmpty(id)) {
                            return;
                        }

                        var existed = _.findWhere(this.voteInfo.Items, {Slug: id});
                        if (existed !== undefined) {
                            SethPhatToaster.error("Bạn đã chọn địa điểm này, xin hãy chọn địa điểm khác!");
                            e.preventDefault();
                        }
                    });
                }, 500);
            },
            editVote() {
                // prepare data
                var postData = {Places: []};
                _.each(this.voteInfo.Items, item => {
                    postData.Places.push(item.Slug);
                });

                let self = this;
                RequestService
                    .setController(`VotePlace`)
                    .post(`EditVote/${this.voteInfo.ID}`, postData)
                    .done(data => {
                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        // success, close and reload
                        SethPhatToaster.success(data.success);
                        self.$parent.getVote();
                        self.closeModal();
                    });
            }
        },
        created() {
            this.getPosts();
        },
        mounted() {
            this.modal = $(this.$el);
        }
    }
</script>

<style scoped>

</style>