<template>
    <div class="modal" id="viewUserVoteModal" style="cursor: auto">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Danh sách thành viên đã bình chọn</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>Địa điểm: <b>{{config.title}}</b></p>
                    <p class="text-center" v-if="users.length <= 0">Chưa có ai bình chọn địa điểm này cả!</p>
                    <div class="media mt-2 media-bottom" v-for="user in users">
                        <img class="mr-3 rounded-circle img-group" :src="getUserImg(user.ProfileImage)">
                        <div class="media-body mt-3">
                            <h6 class="mt-0" v-text="user.FullName"></h6>
                            <p>Bình chọn lúc: {{user.CreatedDate}}</p>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "ViewUserVoteComponent",
        data: () => ({
            config: {
                title: "",
                votePlaceID: "",
            },
            modal: null,
            users: []
        }),
        methods: {
            getUserImg: Helper.getUserImage,
            openModal(title, votePlaceID) {
                // set data config
                this.config.title = title;
                this.config.votePlaceID = votePlaceID;
                this.users = []; // reset user..

                // action
                this.loadUser();
                this.modal.modal('show');
            },
            closeModal() {
                this.modal.modal('hide');
            },
            loadUser() {
                let self = this;
                RequestService.setController("VotePlaceItemEntry").get("ViewEntry/" + this.config.votePlaceID)
                    .done(data => {
                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        self.users = data;
                    })
                    .fail(err => {
                        SethPhatToaster.error("Lỗi khi truy xuất thông tin từ máy chủ");
                        self.closeModal();
                    });
            }
        },
        mounted() {
            this.modal = $(this.$el);
        }
    }
</script>

<style scoped>
    .img-group {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 1px #ccc solid;
    }

    .media-bottom {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
</style>