<template>
    <div class="col-md-12 item-box clickable mt-2" @click="clickCheckbox">
        <div class="row">
            <div class="col-lg-1">
                <label class="custom-control custom-checkbox mt-4">
                    <input type="checkbox" class="custom-control-input" @change="clickCheckbox" v-model="isChecked" :disabled="!enabled">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"></span>
                </label>
            </div>
            <div class="col-lg-10">
                <div class="media">
                    <img class="mr-3 img-post" :src="getAttachtImg(voteInfo.Post.Image)">
                    <div class="media-body">
                        <h6 class="mt-0">
                            <a :href="'/#/Food-Detail/' + voteInfo.Post.Slug" target="_blank">
                                {{voteInfo.Post.Title}}
                            </a>
                        </h6>
                        Địa chỉ: {{voteInfo.Post.Address}}
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
                <p class="mt-3 mr-2 text-center vote-number" @click="viewUserVote"
                   data-toggle="tooltip" title="Nhấn vào để xem người đã bình chọn địa điểm này">
                    {{voteInfo.TotalVote}}
                </p>
            </div>
        </div>

        <view-user-vote-component ref="ViewUserVoteComponent"></view-user-vote-component>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";
    import ViewUserVoteComponent from "./ViewUserVoteComponent";

    export default {
        name: "VoteItemComponent",
        components: {ViewUserVoteComponent},
        props: ['enabled', 'voteInfo'],
        data: () => ({
            isChecked: false
        }),
        methods: {
            getAttachtImg: Helper.getAttachmentImage,
            errorAndReverse() {
                SethPhatToaster.error("Có lỗi khi thực hiện bình chọn, xin hãy thử lại sau");
                this.isChecked = !this.isChecked; // reverse...
            },
            clickCheckbox(e) {
                if (!this.enabled) {
                    return;
                }
                // only reverse if click
                if (e.type === "click") {
                    this.isChecked = !this.isChecked;
                }

                // voting in server
                let self = this;
                RequestService.setController("VotePlaceItemEntry").get("Vote/" + this.voteInfo.ID)
                    .done(data => {
                        if (_.isEmpty(data)) {
                            self.errorAndReverse();
                            return;
                        }
                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        // re update current data
                        self.voteInfo.Vote = !self.voteInfo.Vote;
                        if (self.voteInfo.Vote) {
                            self.voteInfo.TotalVote++;
                        } else {
                            self.voteInfo.TotalVote--;
                        }
                    })
                    .fail(data => {
                        self.errorAndReverse();
                        self.isChecked = !self.isChecked; // reverse...
                    })
            },
            viewUserVote() {
                this.$refs.ViewUserVoteComponent.openModal(this.voteInfo.Post.Title, this.voteInfo.ID);
            }
        },
        created() {
            if (!_.isUndefined(this.voteInfo.Vote)) {
                this.isChecked = this.voteInfo.Vote;
            }
        },
        mounted() {
            $("[data-toggle='tooltip']").tooltip();
        }
    }
</script>

<style scoped>
    .img-post {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .vote-number {
        font-size: 30px;
        color: #3498db;
    }

    .vote-number:hover {
        text-decoration: underline;
    }
</style>