<template>
    <div class="container" style="margin-top:80px; margin-bottom: 20px" v-if="voteInfo != null">
        <div class="row" style="padding-top: 20px;">
            <div class="col-md-8">
                <h4>{{voteInfo.Title}}</h4>
                <p>Thuộc nhóm: {{voteInfo.Group.Name}}</p>
                <p>Bình chọn tạo bởi: {{voteInfo.CreatedBy}}</p>
                <p>Thời gian kết thúc: {{voteInfo.EndTime}}</p>
            </div>
            <div class="col-md-4 text-right">
                <div class="dropdown" v-if="voteInfo.CanEdit">
                    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
                        Thao tác
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item clickable" v-if="voteInfo.CanVote" @click="openEdit">Sửa bình chọn</li>
                        <li class="dropdown-item clickable" @click="deleteVote">Xóa bình chọn</li>
                    </ul>
                </div>
            </div>
        </div>

        <h6>Địa điểm đề xuất</h6>
        <div class="row">
            <vote-item-component :enabled="voteInfo.IsInGroup && voteInfo.CanVote"
                                 v-for="voteItem in voteInfo.Items"
                                 :checked="_.isUndefined(voteItem.Vote) ? false: voteItem.Vote"
                                 :key="voteItem.ID"
                                 :voteInfo="voteItem">
            </vote-item-component>
        </div>

        <edit-vote-component ref="EditVoteComponent" :vote-info="voteInfo"></edit-vote-component>
    </div>
</template>

<script>
    import VoteItemComponent from "./VoteItemComponent";
    import EditVoteComponent from "./EditVoteComponent";
    export default {
        name: "VoteInfoPage",
        components: {EditVoteComponent, VoteItemComponent},
        data: () => ({
            voteInfo: null
        }),
        methods: {
            getVote() {
                let self = this;
                RequestService.setController("VotePlace").get("GetByID/" + this.$route.params.id)
                    .done(data => {
                        if (data === null || data.error) {
                            if (data.error) {
                                SethPhatToaster.error(data.error);
                            } else {
                                SethPhatToaster.error("Lỗi khi truy xuất thông tin lên máy chủ, xin hãy thử lại sau!");
                            }
                            self.$router.push("/");
                            return;
                        }

                        self.voteInfo = data;
                    })
                    .fail(err => {
                        SethPhatToaster.error("Lỗi khi truy xuất thông tin lên máy chủ, xin hãy thử lại sau!");
                        self.$router.push("/");
                    });
            },
            openEdit() {
                this.$refs.EditVoteComponent.setData(this.voteInfo);
                this.$refs.EditVoteComponent.openModal();
            },
            deleteVote() {
                let self = this;
                SethPhatToaster.confirm(false, () => {
                    RequestService.setController("VotePlace").get("DeleteVote/" + this.$route.params.id)
                        .done(data => {
                            if (data === null || data.error) {
                                if (data.error) {
                                    SethPhatToaster.error(data.error);
                                } else {
                                    SethPhatToaster.error("Lỗi khi truy xuất thông tin lên máy chủ, xin hãy thử lại sau!");
                                }
                                self.$router.push("/");
                                return;
                            }

                            SethPhatToaster.success(data.success);
                            self.$router.push({name: "groupinfo", params: {id: self.voteInfo.GroupID}});
                            SethPhatToaster.hideModal();
                        })
                        .fail(err => {
                            SethPhatToaster.error("Lỗi khi truy xuất thông tin lên máy chủ, xin hãy thử lại sau!");
                            self.$router.push("/");
                            SethPhatToaster.hideModal();
                        });
                });
            }
        },
        created() {
            this.getVote();
        },
        mounted() {
            setSiteName("Bình chọn địa điểm");
            $("[data-toggle='tooltip']").tooltip();
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
        computed: {
            _() {
                return _;
            }
        }
    }
</script>

<style scoped>
    .item-box {
        border-color: #dddfe2;
        border-style:solid;
        border-width: 1px;
        border-radius: 3px;
        padding: 20px;
    }

    .item-box:hover {
        border-color: #bdc3c7;
    }
</style>