<template>
    <!--============================= DETAIL =============================-->
    <section style="margin-top: 80px" v-if="category !== null && typeof category !== 'undefined'">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">
                                <p>Địa điểm trong chuyên mục <span>{{category.Name}}</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="row light-bg detail-options-wrap">
                        <post-control v-for="post in posts"
                                      special-class="col-sm-3 col-lg-6 col-xl-3"
                                      :key="post.ID"
                                      :post="post">
                        </post-control>

                        <p class="col-md-12 text-center" v-if="posts.length <= 0">
                            Chưa có địa điểm nào cả, bạn có thể giúp đỡ site thêm địa điểm cho chuyên mục này :D
                        </p>
                    </div>

                    <div class="text-center" style="padding: 20px">
                        <button class="btn btn-primary" v-if="!is_end && total_result > limit" @click="load_more">Xem thêm địa điểm</button>
                        <p v-else-if="is_end && category.TotalPost > 0">Đã hết địa điểm. Cám ơn bạn đã tìm kiếm!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import PostControl from 'components/control/PostControl';
    import {SiteConfig} from "config/config";

    export default {
        name: "CategoryPage",
        components: {
            PostControl
        },
        data: () => ({
            controller: {
                post: "Post"
            },
            category: null,
            posts: [],
            start: 0,
            limit: SiteConfig.search_limit,
            is_end: false,
            total_result: 0,
        }),
        methods: {
            load_post(){
                var self = this;
                RequestService.setController(this.controller.post);
                RequestService.get("Search/" + this.category.ID, {start: this.start, limit: this.limit})
                    .done(data => {
                        if (data === null) {
                            self.reload_data();
                            SethPhatToaster.server_error();
                            return;
                        }

                        self.total_result = data.TotalResult;
                        _.each(data.Data, item => {
                            self.posts.push(item);
                        });

                        if (self.total_result <= self.start) {
                            self.is_end = true;
                        }
                    });
            },
            reload_data() {
                setTimeout(this.load_post, 5000);
            },
            load_more() {
                this.start += this.limit;
                this.load_post()
            },
            init_page(cate_id) {
                // load cate
                let self = this;
                RequestService.setController("Category").get("GetBySlug/" + cate_id)
                    .done(data => {
                        if (data.error) {
                            SethPhatToaster.error("Chuyên mục không tồn tại. Xin hãy thử lại sau!");
                            self.$router.go(-1);
                            return;
                        }

                        self.category = data;
                        self.posts = [];
                        setSiteName(self.category.Name);
                        self.load_post();
                    })
                    .fail(err => {
                        SethPhatToaster.error("Có lỗi khi truy xuất dữ liệu từ máy chủ, xin hãy thử lại sau!");
                        self.$router.go(-1);
                    });
            }
        },
        created() {
            this.init_page(this.$route.params.id);
        },
        mounted() {
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
    }
</script>

<style scoped>

</style>