<template>
    <!--============================= DETAIL =============================-->
    <section style="margin-top: 80px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">
                                <p>Danh sách những nơi <span>Nổi Bật</span> nhất</p>
                            </div>
                        </div>
                    </div>
                    <div class="row light-bg detail-options-wrap">
                        <post-control v-for="post in posts"
                                      special-class="col-sm-3 col-lg-6 col-xl-3"
                                      :key="post.ID"
                                      :post="post">
                        </post-control>
                    </div>

                    <div class="text-center" style="padding: 20px">
                        <button class="btn btn-primary" v-if="!is_end" @click="load_more">Xem thêm địa điểm</button>
                        <p v-else>Đã hết địa điểm. Cám ơn bạn đã tìm kiếm!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import PostControl from 'components/control/PostControl';
    import {SiteConfig} from "config/config";

    export default {
        name: "FeaturePage",
        components: {
            PostControl
        },
        data: () => ({
            controller: {
                post: "Post"
            },
            posts: [],
            start: 0,
            limit: SiteConfig.search_limit,
            is_end: false,
        }),
        methods: {
            load_post(){
                var self = this;
                RequestService.setController(this.controller.post);
                RequestService.get("FeaturePost", {start: this.start, limit: this.limit})
                    .done(data => {
                        if (data === null) {
                            self.reload_data();
                            SethPhatToaster.server_error();
                            return;
                        }

                        _.each(data, item => {
                            self.posts.push(item);
                        });

                        if (data.length < self.limit) {
                            self.is_end = true;
                        }
                    });
            },
            reload_data() {
                setTimeout(this.load_post, 5000);
            },
            load_more() {
                this.start += this.limit;
                this.load_post()
            }
        },
        created() {
            setSiteName("Các địa điểm nổi bật");
            // get post
            this.load_post();
        },
        mounted() {
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        }
    }
</script>

<style scoped>

</style>