<template>
    <!--============================= DETAIL =============================-->
    <section style="margin-top: 80px" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-6 featured-responsive">
                            <div class="detail-filter-text">
                                <p class="mb-2">Tìm kiếm địa điểm</p>
                                <div class="input-group mb-3" style="z-index: 1">
                                    <input type="text" class="form-control" placeholder="Nhập từ khóa để tìm kiếm" v-model="keyword">
                                    <div class="input-group-append">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{currentText}}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" :class="{'active': categoryID === ''}"
                                                   href="javascript:void(0)"
                                                   @click="changeCategory('')">Tất cả</a>
                                                <a class="dropdown-item"
                                                   href="javascript:void(0)"
                                                   v-for="cate in $store.state.categories"
                                                   :class="{'active': categoryID === cate.ID}"
                                                   @click="changeCategory(cate.ID)">
                                                    {{cate.Name}}
                                                </a>
                                            </div>
                                            <button class="btn btn-primary" @click="search">
                                                <i class="icon-magnifier search-icon"></i>
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p>Có <b>{{total_result}}</b> kết quả dành cho từ khóa <b>{{keyword}}</b></p>
                        </div>
                    </div>

                    <div class="row light-bg detail-options-wrap">
                        <post-control v-for="post in posts"
                                      special-class="col-sm-3 col-lg-6 col-xl-3"
                                      :key="post.ID"
                                      :post="post">
                        </post-control>

                        <p class="col-md-12 text-center" v-if="posts.length <= 0">
                            Không tìm thấy địa điểm này, bạn có thể giúp đỡ site thêm địa điểm nếu có thể :D
                        </p>
                    </div>

                    <div class="text-center" style="padding: 20px">
                        <button class="btn btn-primary" v-if="!is_end && total_result > limit" @click="load_more">Xem thêm địa điểm</button>
                        <p v-else-if="is_end && total_result > 0">Đã hết địa điểm. Cám ơn bạn đã tìm kiếm!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import PostControl from 'components/control/PostControl';
    import {SiteConfig} from "config/config";
    import Select2 from 'v-select2-component';

    export default {
        name: "SearchPage",
        components: {
            PostControl, Select2
        },
        data: () => ({
            controller: {
                post: "Post"
            },
            posts: [],
            start: 0,
            limit: SiteConfig.search_limit,
            is_end: false,
            total_result: 0,
            keyword: "",
            categoryID: "",
            currentText: "",
        }),
        methods: {
            load_post(){
                var self = this;
                RequestService.setController(this.controller.post);
                var action = "Search";
                if (!_.isEmpty(this.categoryID)) {
                    action = "Search/" + this.categoryID;
                }
                RequestService.get(action, {start: this.start, limit: this.limit, keyword: this.keyword})
                    .done(data => {
                        if (data === null) {
                            self.reload_data();
                            SethPhatToaster.server_error();
                            return;
                        }

                        self.total_result = data.TotalResult;
                        _.each(data.Data, item => {
                            self.posts.push(item);
                        });

                        if (self.total_result <= self.start) {
                            self.is_end = true;
                        }
                    });
            },
            reload_data() {
                setTimeout(this.load_post, 5000);
            },
            load_more() {
                this.start += this.limit;
                this.load_post()
            },
            init_page() {
                // set keyword and category
                this.keyword = this.$route.query.keyword;
                this.categoryID = this.$route.query.categoryID;
                setSiteName("Tìm kiếm: " + this.keyword);

                if (!_.isEmpty(this.categoryID)) {
                    // find category
                    let category = _.find(this.$store.state.categories, {ID: this.categoryID});
                    if (category === undefined) {
                        this.categoryID = "";
                        this.currentText = "Tất cả";
                        return;
                    }

                    this.currentText = category.Name;
                } else {
                    this.currentText = "Tất cả";
                }

                // get post
                this.load_post();
            },
            changeCategory(id) {
                if (id === '') {
                    this.currentText = "Tất cả";
                    this.categoryID = "";
                    return;
                }

                let category = _.find(this.$store.state.categories, {ID: id});
                if (category === undefined) {
                    this.categoryID = "";
                    this.currentText = "Tất cả";
                    return;
                }
                this.currentText = category.Name;
                this.categoryID = category.ID;
            },
            search() {
                if (this.keyword === "") {
                    SethPhatToaster.error("Xin hãy nhập từ khóa cần tìm.");
                    return;
                }

                this.posts = [];
                this.start = 0;
                this.load_post();
            }
        },
        created() {
            this.init_page();
            // option for select2
        },
        mounted() {
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
    }
</script>

<style scoped>

</style>