<template>
    <div class="container" style="margin-top:80px; margin-bottom: 20px" v-if="user_profile !== null">
        <div class="row">
            <div class="col-md-12 responsive-wrap">
                <div class="follow">
                    <div class="follow-img">
                        <img :src="profile_image(user_profile.ProfileImage)"
                             class="img-fluid img-avatar rounded-circle"
                             :alt="user_profile.FullName">
                        <h6>{{user_profile.FullName}}</h6>
                        <span>Thành viên</span>
                    </div>
                    <ul class="social-counts">
                        <li>
                            <h6>{{user_profile.JoinDate}}</h6>
                            <span>Gia nhập vào</span>
                        </li>
                        <li>
                            <h6>{{user_profile.TotalReview}}</h6>
                            <span>Đã đánh giá</span>
                        </li>
                        <li>
                            <h6>{{user_profile.AverageStar}}</h6>
                            <span>Trung bình đánh giá</span>
                        </li>
                    </ul>
                    <!--<a href="#">FOLLOW</a>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Helper} from "helper/global_helper";

    export default {
        name: "ProfilePage",
        data: () => ({
            user_profile: null,
        }),
        methods: {
            profile_image: Helper.getUserImage,
            get_profile(ID) {
                var self = this;
                RequestService.setController("User");
                RequestService.get(`GetByID/${ID}`)
                    .done(data => {
                        if (data === null) {
                            RequestService.server_error();
                            self.retry();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            self.$router.push("/");
                            return;
                        }

                        self.user_profile = data;
                    });
            },
            retry() {
                var self = this;
                setTimeout(() => {
                    self.get_profile(self.$route.params.id);
                }, 5000)
            }
        },
        created() {
            this.get_profile(this.$route.params.id);
        },
        mounted() {
            $("[data-toggle='tooltip']").tooltip();
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
    }
</script>

<style scoped>
    .img-avatar {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border: 1px solid #ddd;
    }
</style>