<template>
    <div class="container" style="margin-top: 80px; margin-bottom: 20px" v-if="user_info !== null">
        <div class="row">
            <div class="col-md-6 mt-1">
                <div class="card">
                    <h5 class="card-title bg-primary p-3">Đổi thông tin tài khoản</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Hình đại diện</label>
                            <div class="text-center avatar-wrapper">
                                <img :src="user_image(user_info.profile_image)"
                                     class="img-fluid img-avatar clickable rounded-circle"
                                     data-toggle="tooltip"
                                     @click="selectImage"
                                     title="Nhấn vào để đổi hình đại diện" />

                                <div class="mt-2">
                                    <button class="btn btn-primary"
                                            @click="removeImg"
                                            v-if="isFile(user_info.profile_image)">
                                        Xóa ảnh vừa chọn
                                    </button>
                                </div>
                            </div>

                            <input type="file" id="file_profile_image" style="display: none;" @change="selectedImage">
                        </div>
                        <div class="form-group form-wrapper">
                            <label>Tên</label>
                            <input type="text" class="form-control input-char-count" v-model="user_info.first_name" :maxlength="maxLength">
                        </div>
                        <div class="form-group form-wrapper">
                            <label>Họ</label>
                            <input type="text" class="form-control input-char-count" v-model="user_info.last_name" :maxlength="maxLength">
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" @click="updateProfile">Sửa thông tin</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-1">
                <div class="card">
                    <h5 class="card-title bg-primary p-3">Đổi mật khẩu</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            <input type="password" class="form-control" v-model="password.OldPassword">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <input type="password" class="form-control" v-model="password.Password">
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" v-model="password.RetypePassword">
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary" @click="updatePassword">Đổi mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {LoggedUserInfo} from "helper/logged_user_info";
    import {Helper} from "helper/global_helper";

    export default {
        name: "SettingPage",
        data: () => ({
            maxLength: 30,
            current_user_info: _.clone(LoggedUserInfo.getInfo()),
            user_info: null,
            password: {
                Password: "",
                RetypePassword: "",
                OldPassword: "",
            }
        }),
        methods: {
            user_image(img) {
                if (img instanceof File) {
                    return URL.createObjectURL(img);
                } else {
                    return Helper.getUserImage(img);
                }
            },
            isFile(file) {
                if (file instanceof File) {
                    return true;
                }
                return false;
            },
            removeImg() {
                this.user_info.profile_image = _.clone(this.current_user_info.profile_image);
            },
            selectImage() {
                $(`#file_profile_image`).click();
            },
            selectedImage(e) {
                var file = e.target.files[0];
                if (file.type.indexOf("image") < 0)
                {
                    SethPhatToaster.error("Không hỗ trợ upload file này.");
                    return;
                }
                $(`#file_profile_image`).val('');
                this.user_info.profile_image = file;
            },
            updateProfile() {
                var postData = new FormData();
                postData.append("FirstName", this.user_info.first_name);
                postData.append("LastName", this.user_info.last_name);
                if (this.isFile(this.user_info.profile_image)) {
                    postData.append("ProfileImage", this.user_info.profile_image);
                }

                var self = this;
                RequestService.setController("User");
                RequestService.post("UpdateProfile", postData, Helper.getUploadAjaxSetting())
                    .done(data => {
                        if (data === null) {
                            SethPhatToaster.server_error();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        LoggedUserInfo.setInfo(data.data);
                        SethPhatToaster.success(data.msg);
                    });
            },
            updatePassword() {
                RequestService.setController("User");
                RequestService.post("UpdatePassword", this.password)
                    .done(data => {
                        if (data === null) {
                            SethPhatToaster.server_error();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        SethPhatToaster.success(data.msg);
                    });
            }
        },
        created() {
            if (!LoggedUserInfo.isLoggedIn()) {
                this.$router.push("/");
                SethPhatToaster.error("Cần phải đăng nhập để vào được trang này!");
                return;
            }
            this.user_info = _.clone(this.current_user_info);
        },
        mounted() {
            $('input[type="text"].input-char-count, textarea.input-char-count').inputCharCount();
            $("[data-toggle='tooltip']").tooltip();
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
    }
</script>

<style scoped>
    .card-title {
        color: white;
    }

    .img-avatar {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    .avatar-wrapper, .form-wrapper {
        position: relative;
    }

    .top-right {
        position: absolute;
        top: -10px;
        right: 40%;
        font-size: 20px;
    }
</style>