<template>
    <div class="container" v-if="post !== null">
        <section class="reserve-block" style="padding-top: 100px;">
            <div class="row">
                <div class="col-md-8">
                    <h4 class="mb-2">Thêm địa điểm mới</h4>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-primary"
                            title="Gửi thông tin để thêm địa điểm mới, chúng tôi sẽ kiểm duyệt và đăng lên sớm nhất có thể"
                            @click="postRequest"
                            data-toggle="tooltip">
                        Thêm địa điểm mới
                    </button>
                </div>
            </div>

            <ul class="nav nav-tabs mb-2">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#normal_info">Thông tin địa điểm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu_info">Thực đơn địa điểm</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane container active" id="normal_info">
                    <div class="form-group">
                        <label>Hình ảnh địa điểm (tối đa 5 tấm)</label>
                        <multi-image-upload-control :max="max_images" ref="MultiImageUploadControl"></multi-image-upload-control>
                    </div>

                    <div class="form-group">
                        <label>Chuyên mục</label>
                        <select2 v-model="post.CategoryID" :options="$store.state.categories"></select2>
                    </div>

                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control" v-model="post.Title">
                    </div>

                    <div class="form-group">
                        <label>Giới thiệu ngắn</label>
                        <input type="text" class="form-control" v-model="post.ShortDescription">
                    </div>

                    <div class="form-group">
                        <label>Nội dung địa điểm</label>
                        <textarea type="text" class="form-control content-aria" v-model="post.Description"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Giá tiền tối thiểu</label>
                                <input type="number" class="form-control text-right" v-model="post.MinPrice">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Giá tiền tối đa</label>
                                <input type="number" class="form-control text-right" v-model="post.MaxPrice">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input type="text" class="form-control" v-model="post.Address">
                    </div>

                    <div class="form-group">
                        <label>Điện thoại (không bắt buộc)</label>
                        <input type="text" class="form-control" v-model="post.Phone">
                    </div>

                    <div class="form-group">
                        <label>Website (không bắt buộc)</label>
                        <input type="text" class="form-control" v-model="post.Website">
                    </div>

                    <div class="form-group">
                        <label>Thời gian chuẩn bị món</label>
                        <select2 v-model="post.PrepareTime" :options="options"></select2>
                    </div>

                    <div class="form-group">
                        <label>Đặc điểm của quán</label>
                        <select2 v-model="post.Attributes" :options="$store.state.attributes" :settings="{multiple: true}"></select2>
                    </div>
                </div>

                <div class="tab-pane container fade" id="menu_info">
                    <p>Lưu ý: phải thêm ít nhất 1 món trong thực đơn để có thể tạo.</p>

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="5%" class="text-center">
                                    <button class="btn btn-outline-primary icon-size" @click="addItem">+</button>
                                </th>
                                <th class="text-center">Hình</th>
                                <th class="text-center">Tên món</th>
                                <th class="text-center">Mô tả</th>
                                <th class="text-center" width="20%">Giá tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in post_items">
                                <td class="text-center middle-cell">
                                    <button class="btn btn-outline-danger icon-size" @click="removeItem(index)">&times;</button>
                                </td>
                                <td class="text-center middle-cell">
                                    <img :src="showImage(item.Image)"
                                         class="img-fluid img-food clickable"
                                         title="Nhấn vào để chọn hình ảnh"
                                         data-toggle="tooltip"
                                         @click="selectImage(index)" />
                                    <input type="file"
                                           :id="'file_item_' + index"
                                           @change="selectedImage($event, index)"
                                           accept="image/*"
                                           style="display: none;">
                                </td>
                                <td class="text-center middle-cell">
                                    <input type="text" class="form-control" v-model="item.Title">
                                </td>
                                <td class="text-center middle-cell">
                                    <input type="text" class="form-control" v-model="item.Description">
                                </td>
                                <td class="text-center middle-cell">
                                    <input type="number" class="form-control text-right" v-model="item.Price">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</template>

<script>
    import {PREPARE_TIME_OPTIONS} from 'config/constants';
    import MultiImageUploadControl from 'components/control/MultiImageUploadControl';
    import Select2 from 'v-select2-component';
    import {LoggedUserInfo} from "helper/logged_user_info";
    import {Helper} from "helper/global_helper";

    export default {
        name: "AddPage",
        components: {
            MultiImageUploadControl,
            Select2
        },
        data: () => ({
            post: null,
            post_items: [],
            max_images: 5,
            options: PREPARE_TIME_OPTIONS,
        }),
        methods: {
            newData() {
                this.post = {
                    Title: "",
                    ShortDescription: "",
                    Description: "",
                    MinPrice: "",
                    MaxPrice: "",
                    Address: "",
                    Website: "",
                    Phone: "",
                    CategoryID: "",
                    PrepareTime: 1,
                    Attributes: [],
                };
            },
            newItem() {
                return {
                    Title: "",
                    Description: "",
                    Price: 0,
                    Image: null
                };
            },
            addItem() {
                this.post_items.push(this.newItem());
            },
            removeItem(index) {
                if (this.post_items.length === 1) {
                    SethPhatToaster.error("Phải có ít nhất một món trong thực đơn.");
                    return;
                }
                this.post_items.splice(index, 1);
            },
            showImage(img) {
                if (img instanceof File) {
                    return URL.createObjectURL(img);
                } else {
                    return Helper.getAttachmentImage(img);
                }
            },
            selectImage(index) {
                $(`#file_item_${index}`).click();
            },
            selectedImage(e, index) {
                var file = e.target.files[0];
                if (file.type.indexOf("image") < 0)
                {
                    SethPhatToaster.error("Không hỗ trợ upload file này.");
                    return;
                }
                $(`#file_item_${index}`).val('');
                this.post_items[index].Image = file;
            },
            postRequest() {
                // populate data
                var postData = new FormData();
                _.each(this.post, (value, key) => {
                    if (_.isArray(value)) {
                        _.each(value, (itemValue) => {
                             postData.append(key + "[]", itemValue);
                        });
                    } else {
                        postData.append(key, value);
                    }
                });

                _.each(this.$refs.MultiImageUploadControl.files, file => {
                    postData.append("Gallery[]", file);
                });

                var postItemIndex = 0;
                _.each(this.post_items, item => {
                    _.each(item, (value, key) => {
                        if (key === "Image" && value === null) {
                            return;
                        }
                        postData.append(`PostItems[${postItemIndex}][${key}]`, value);
                    });
                    postItemIndex++;
                });

                // ok request
                var self = this;
                RequestService.setController("Post");
                RequestService.post("CreatePost", postData, Helper.getUploadAjaxSetting())
                    .done(data => {
                        if (data === null) {
                            SethPhatToaster.server_error();
                            return;
                        }

                        if (data.error) {
                            SethPhatToaster.error(data.error);
                            return;
                        }

                        SethPhatToaster.success(data.msg, () => {
                            self.$router.push("/");
                        });
                    })
            }
        },
        mounted() {
            $(".fixed").css('background-color', '#252a33');
            $('[data-toggle="tooltip"]').tooltip();
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        },
        created() {
            if (!LoggedUserInfo.isLoggedIn()) {
                SethPhatToaster.error("Bạn phải đăng nhập mới truy cập được trang này.");
                this.$router.push("/");
                return;
            }
            this.newData();
            this.addItem();
        }
    }
</script>

<style scoped>
    .content-aria {
        height: 200px;
    }

    .icon-size {
        font-size: 20px;
    }

    .img-food {
        width:80px;
        height:80px;
        object-fit: cover;
    }

    .middle-cell {
        vertical-align: middle;
    }
</style>