<template>
    <div>
        <section class="reserve-block" style="padding-top: 100px;">
            <h3 class="text-center">Food Review by Seth Phat - Phat Tran Minh</h3>

            <div class="text-left container">
                <p>Một sản phẩm nhỏ để giải trí và tăng kỹ năng VueJS :D</p> <br>
                <p>Sử dụng công nghệ:</p>
                <ul>
                    <li>Client
                        <ul>
                            <li>VueJS 2.5.x</li>
                            <li>Webpack</li>
                            <li>Vuex</li>
                            <li>Vue Router</li>
                            <li>ES6</li>
                            <li>Bootstrap 4</li>
                        </ul>
                    </li>
                    <li>
                        Server:
                        <ul>
                            <li>Laravel 5.6</li>
                            <li>MariaDB</li>
                        </ul>
                    </li>
                </ul>

                <p>Thanks for using my website :D!</p>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "AboutUsPage",
        mounted() {
            setSiteName("Về chúng tôi");
            $(".fixed").css('background-color', '#252a33');
        },
        beforeDestroy() {
            $(".fixed").css('background-color', '');
        }
    }
</script>

<style scoped>

</style>