<template>
    <div>
        <!-- SLIDER -->
        <section class="slider d-flex align-items-center">
            <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12">
                        <div class="slider-title_box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slider-content_wrap">
                                        <h1>Đói? Khát? Tìm quán ngay!!</h1>
                                        <h5>Tìm ngay các món ăn uống xung quanh công ty B2BE Vietnam.</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-10">
                                    <div class="form-wrap mt-4">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <input type="text"
                                                   placeholder="Bạn muốn tìm quán nào?"
                                                   v-model="keyword"
                                                   @keyup.enter="search"
                                                   class="btn-group1">
                                            <select class="btn-group2" v-model="categoryID">
                                                <option selected disabled>Chọn chuyên mục</option>
                                                <option value="">Tất cả</option>
                                                <option v-for="cate in $store.state.categories" :value="cate.ID">{{cate.Name}}</option>
                                            </select>
                                            <button type="button" @click="search" class="btn-form"><span
                                                    class="icon-magnifier search-icon"></span>TÌM NGAY<i
                                                    class="pe-7s-angle-right"></i></button>
                                        </div>
                                    </div>
                                    <div class="slider-link">
                                        <router-link :to="{name: 'feature'}">Xem những quán nổi bật</router-link>
                                        <span>hoặc</span>
                                        <router-link :to="{name: 'new'}">Xem các quán mới</router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--// SLIDER -->

        <!--============================= FEATURED PLACES =============================-->
        <section class="main-block light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="styled-heading">
                            <h3>Địa điểm nổi bật</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <post-control v-for="post in $store.state.feature_posts"
                                  :key="post.ID"
                                  :post="post" special-class="col-md-4">
                    </post-control>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="featured-btn-wrap">
                            <router-link :to="{name: 'feature'}" class="btn btn-danger">XEM THÊM CÁC ĐỊA ĐIỂM NỔI BẬT</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//END FEATURED PLACES -->

    </div>
</template>

<script>
    import PostControl from 'components/control/PostControl';

    export default {
        name: "main-page",
        components: {
            'post-control': PostControl,
        },
        data: () => ({
            keyword: "",
            categoryID: "",
        }),
        methods: {
            search() {
                if (this.keyword === "") {
                    SethPhatToaster.error("Xin hãy nhập từ khóa cần tìm.");
                    return;
                }

                this.$router.push(`/Search?keyword=${this.keyword}&categoryID=${this.categoryID}`);
            },
        },
        created() {
            setSiteName();
        }

    }
</script>

<style scoped>

</style>
